.chart {
  margin: 5% auto;
  position: relative;
  margin-bottom: 120px;
}
.y {
  position: absolute;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  bottom: 0;
  padding: 5px;
}
.x {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 5px;
}
.bar {
/*border: solid 1px red;*/
background-image:-webkit-linear-gradient(left, #FFF000, #F9330B);
background-image:-moz-linear-gradient(left, #FFF000, #F9330B);
background-image:-o-linear-gradient(left, #FFF000, #F9330B);
background-image:linear-gradient(left, #FFF000, #F9330B);
position: absolute;
box-shadow: 6px 2px 10px rgba(0,0,0,0.5);
border-radius: 5px 5px;
bottom: 0;
transition: 2s 0.3s;
}
.name-months{
  position: absolute;
  bottom: -60px;
  left: 5px;
  width: 80px;
  height: 30px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.name-months-text{
  font-family: sans-serif;
  font-size: 25px;
  text-align: left; 
  text-color: #eee;
}
.coast-months{
  position: absolute;
  width: 100%;
  top: -24px;
  height: 20px;
}
.coast-months-text{
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
  text-color: #eee;
}

.donutbody {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  height: 300px;
  position: relative;
}
path.slice{
  stroke-width:2px;
}
polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}
svg text.percent{
  fill:white;
  text-anchor:middle;
  font-size:12px;
}
.donutlist {
  list-style-type: none;
  }

.animation { -webkit-transition: 1s; }

.animation.ng-leave { opacity: 1; }
.animation.ng-leave.ng-leave-active { opacity: 0; }

.animation.ng-enter { opacity: 0; }
.animation.ng-enter.ng-enter-active { opacity: 1; }
