<div class="container template-field">
	<div class="row">
		<div class="col-md-12">
			<h1>
				<strong>О проекте</strong>
			</h1>
			<hr>
			<p class="text-justify">
				Данный проект разрабатывается сугубо в учебных целях.
				Но он может заинтересовать тех, кто предпочитает экономить свои деньги, любит анализировать, и делать выводы.
				Здесь вы можете увидеть стек испльзуемых технологий

			<p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-md-offset-1">
			<div class="col-md-2">
				<a href="https://angularjs.org/">
					<img src="../img/angularjs-logo.png" alt="100x100" class="img-rounded tech-logo">
				</a>
			</div>
			<div class="col-md-2">
				<a href="http://getbootstrap.com/">
					<img src="../img/bootstrap-logo.jpg" alt="100x100" class="img-rounded tech-logo">
				</a>
			</div>
			<div class="col-md-2">
				<a href="http://d3js.org/">
					<img src="../img/d3-logo.jpg" alt="100x100" class="img-rounded tech-logo">
				</a>
			</div>
			<div class="col-md-2">
				<a href="">
					<img src="http://placekitten.com/g/140/140" alt="100x100" class="img-rounded tech-logo">
				</a>
			</div>
			<div class="col-md-2">
				<a href="">
					<img src="http://placekitten.com/g/140/140" alt="100x100" class="img-rounded tech-logo">
				</a>
			</div>
		</div>
	</div>
</div>