<div class="container marketing template-field" ng-controller="formCtrl">
    <div class="row">
        <div class="col-md-12">
        <h1><b>Расчет электроэнергии</b></h1>
        <hr>
        <div class="col-md-12" ng-click="kwh()">
            <h3><b>Укажите категорию потребителей к которой Вы относитесь:</b></h3>
            <hr>
            <h4>
                <input type="radio" value="1" data-ng-model="user.consumersType"> Население, проживающее в жилых домах
                (в том числе в домах, оборудованных кухонными электроплитами)
                <hr>
                <input type="radio" value="2" data-ng-model="user.consumersType"> Население, проживающее в сельской
                местности (в том числе в домах, оборудованных кухонными электроплитами)
                <hr>
                <input type="radio" value="3" data-ng-model="user.consumersType"> Население, проживающее в жилых домах
                (в том числе в домах гостиничного типа и общежитиях), оборудованных в установленном порядке
                электроотопительными установками (в том числе в сельской местности)
                <hr>
                <input type="radio" value="4" data-ng-model="user.consumersType"> Население, проживающее в
                многоквартирных домах, не газифицируемых природным газом и в которых отсутствуют или не
                функционирализованного теплоснабжения (в том числе в сельской местности)
                <hr>
                <input type="radio" value="5" data-ng-model="user.consumersType"> Многодетные, приемные семьи и детские
                дома семейного типа
                <hr>
                <input type="radio" value="6" data-ng-model="user.consumersType"> Население, которое рассчитывается с
                энергоснабжающей организацией по общим расчетным средствам учета и объединенное путем создания
                юридического лица, жилищно-эксплуатационным организациям, кроме общежитий
                <hr>
                <input type="radio" value="7" data-ng-model="user.consumersType"> Общежития
                <hr>
            </h4>
        </div>

        <div class="row">
            <div class="col-md-12">
            <div class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <label>
                        <h4>Показания счётчика в прошлом месяце :</h4>
                    </label>
                    <input type="text" ng-model="user.lastMonth" class="form-control input-lg" ng-change="kwh()">
                </div>
                <div class="form-group">
                    <label>
                        <h4>Показания счётчика в текущем месяце:</h4>
                    </label>
                    <input type="text" ng-model="user.thisMonth" class="form-control input-lg" ng-change="kwh(); trigRow=true;">
                </div>
                <div ng-if="trigRow" class="animation-tab"><h3>Вы потребили <span ng-bind="user.kWh | number:0"></span> кВт⋅ч</h3>

                <h3>и оплатите <span ng-bind="user.coast | number:2"></span> грн</h3></div>
                <hr>
            </div>
                </div>
        </div>

        <div class="row">
            <div class="col-md-12">
            <div class="page-header">
                <h3><b>Расчет потребления электроенергии бытовой техникой</b></h3>
            </div>
            <div class="panel">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="col-md-1"></th>
                        <th class="col-md-2">
                            <div class="col-md-12 text-center">Прибор</div>
                        </th>
                        <th class="col-md-2">
                            <div class="col-md-12 text-center">Количество</div>
                        </th>
                        <th class="col-md-2">
                            <div class="col-md-12 text-center">Время работы</div>
                        </th>
                        <th class="col-md-2">
                            <div class="col-md-12 text-center">Мощность</div>
                        </th>
                        <th class="col-md-1"></th>
                        <th class="col-md-2"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input class="form-control text-center" ng-model="itemName" placeholder="Название"/>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="number" min="0" class="form-control text-center" ng-model="itemCol"
                                           placeholder="штук"/>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="number" step="30" min="0" class="form-control text-center" ng-model="itemTime"
                                           placeholder=" в минутах"/>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="number" step="100" min="0" class="form-control text-center" ng-model="itemPower"
                                           placeholder="Ватт"/>
                                </div>
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>
                            <div class="pull-right">
                                <button class="btn btn-success"
                                        ng-click="addItem(itemName, itemCol, itemTime, itemPower, itemWattHouer)">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Добавить
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr class="animation-tab" ng-repeat="item in user.items" ng-dblclick="changeItem($index)">
                        <td>
                            <img class="img-circle" alt="IMG" ng-src="{{itemPicture(item.name)}}"
                                 style="width: 40px; height: 40px;">
                        </td>
                        <td>
                            <div class="col-md-12">{{item.name}} <br><input ng-show="newForm && $index==numButton"
                                                                            class="form-control"
                                                                            type="text"
                                                                            ng-model="newName"/></div>
                        </td>
                        <td>
                            <div class="col-md-12 text-right">{{item.col}} шт. <br><input ng-show="newForm && $index==numButton"
                                                                               class="form-control text-right"
                                                                               type="text"
                                                                               ng-model="newCol"/></div>
                        </td>
                        <td>
                            <div class="col-md-12 text-right">{{item.time}} минут <br><input ng-show="newForm && $index==numButton"
                                                                                  class="form-control text-right"
                                                                                  type="text"
                                                                                  ng-model="newTime"/></div>
                        </td>
                        <td>
                            <div class="col-md-12 text-right">{{item.power}} Ватт <br><input ng-show="newForm && $index==numButton"
                                                                                  class="form-control text-right"
                                                                                  type="text"
                                                                                  ng-model="newPower"/></div>
                        </td>
                        <td>

                        </td>
                        <td>
                            <button type="button" class="btn btn-success" tooltip="Сохранить"
                                    tooltip-class="toolClass" tooltip-popup-delay='600'
                                    ng-click="checkNewItem($index,newName,newCol,newTime,newPower)"
                                    ng-show="newForm && $index==numButton"><span
                                    class="glyphicon glyphicon-ok"></span>
                            </button>
                            <span class="pull-right"><button type="button" class="btn btn-primary btn-outline"
                                                             tooltip="Редактировать"
                                                             tooltip-class="toolClass" tooltip-popup-delay='600'
                                                             ng-click="changeItem($index)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="button" class="btn btn-danger btn-outline" tooltip="Удалить"
                                    tooltip-class="toolClass" tooltip-popup-delay='600' ng-click="removeItem(item)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
            </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
            <div class="col-md-3 col-md-offset-2">
                <div class="donutbody"></div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <ul ng-repeat="item in user.items" class="animation-tab">
                    <li class="donutlist">
                        <h3>
                            <span class="glyphicon glyphicon-certificate"
                                  style="color: {{item.color}}; top: 5px;"></span>
                            {{item.name}}
                        </h3>
                    </li>
                </ul>
            </div>
                </div>
        </div>


        <hr>
        <div class="row" ng-controller="graphCtrl as graph">
            <div class="col-md-12">
            <h3><b>Статистика трат на электроэнергию за год</b></h3>
            <hr>

            <div class="col-md-4">
                <h4>Заполните таблицу потребления:</h4>
                <table class="table table-hover table-condensed">
                    <tr ng-repeat="month in user.months">
                        <td><h4>{{month.name}}</h4></td>
                        <td><input class="form-control input-sm" type="text" id="input{{$index}}" auto-tab-to="input{{$index+1}}" ng-model="month.value"
                                   ng-change="calcStat()"></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-8">
                <h3 class="text-center">График оплаты 2015</h3>
                <hr>
                <div>
                    <!--bar chart-->
                    <div class="chart" style="width:100%; height:{{height}}px;">
                        <!-- Data -->
                        <div ng-repeat="bar in data | limitTo: -12" class="bar"
                             style="height:{{bar.coast / max * 100}}%; width:{{width / data.length - 5}}px; left:{{$index / data.length * 100}}%;">
                            <div class="name-months">
                                <p class="name-months-text" ng-show="monthisit">{{bar.name}}</p>
                            </div>
                            <div class="coast-months">
                                <p class="coast-months-text" ng-show="bar.coast > 0">{{bar.coast | number: 2}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
            </div>
            </div>
</div>
    </div>
    <div ng-include="'views/footer.html'"></div>